/* Write your code here. */
.faq-item-card {
  list-style-type: none;
  border-color: #d7dae6;
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  padding: 18px;
}
.question-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.question {
  color: #52606d;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
}
.show-btn {
  border: none;
  outline: none;
  height: 28px;
  background-color: transparent;
  cursor: pointer;
}
.answer-container {
}
.hr-line {
  color: #e4e7eb;
}
.answer {
  color: #9aa5b1;
  font-size: 15px;
  font-family: 'Roboto';
}
